/*custom styling for specific elements*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    /* Color styles */
    --emerald-700: rgba(4, 120, 87, 1);
    --emerald-600: rgba(5, 150, 105, 1);
    --emerald-500: rgba(16, 185, 129, 1);
    --emerald-400: rgba(52, 211, 153, 1);
    --emerald-300: rgba(110, 231, 183, 1);
    --emerald-200: rgba(167, 243, 208, 1);
    --zinc-800: rgba(39, 39, 42, 1);
    --zinc-700: rgba(63, 63, 70, 1);
    --zinc-500: rgba(113, 113, 122, 1);
    --zinc-400: rgba(161, 161, 170, 1);
    --zinc-300: rgba(212, 212, 216, 1);
    --zinc-200: rgba(228, 228, 231, 1);
    --zinc-100: rgba(244, 244, 245, 1);
    --zinc-50: rgba(250, 250, 250, 1);

    /* Effect styles */
    --shadow-1:  0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* TEXTS */
.text-zinc-800 {
    color: var(--zinc-800) !important;
}
.text-zinc-700 {
    color: var(--zinc-700) !important;
}
.text-zinc-500 {
    color: var(--zinc-500) !important;
}
.text-zinc-400 {
    color: var(--zinc-400) !important;
}
.text-zinc-300 {
    color: var(--zinc-300) !important;
}
.text-zinc-200 {
    color: var(--zinc-200) !important;
}
.text-zinc-100 {
    color: var(--zinc-100) !important;
}
.text-zinc-50 {
    color: var(--zinc-50) !important;
}
.text-emerald-700 {
    color: var(--emerald-700) !important;
}
.text-emerald-600 {
    color: var(--emerald-600) !important;
}
.text-emerald-500 {
    color: var(--emerald-500) !important;
}
.text-emerald-400 {
    color: var(--emerald-400) !important;
}
.text-emerald-300 {
    color: var(--emerald-300) !important;
}
.text-emerald-200 {
    color: var(--emerald-200) !important;
}
/* SHADOWS */
.shadow-1 {
    box-shadow: var(--shadow-1) !important;
}
/* BACKGROUNDS */
.bg-zinc-800 {
    background-color: var(--zinc-800) !important;
}
.bg-zinc-700 {
    background-color: var(--zinc-700) !important;
}
.bg-zinc-500 {
    background-color: var(--zinc-500) !important;
}
.bg-zinc-400 {
    background-color: var(--zinc-400) !important;
}
.bg-zinc-300 {
    background-color: var(--zinc-300) !important;
}
.bg-zinc-200 {
    background-color: var(--zinc-200) !important;
}
.bg-zinc-100 {
    background-color: var(--zinc-100) !important;
}
.bg-zinc-50 {
    background-color: var(--zinc-50) !important;
}
.bg-emerald-700 {
    background-color: var(--emerald-700) !important;
}
.bg-emerald-600 {
    background-color: var(--emerald-600) !important;
}
.bg-emerald-500 {
    background-color: var(--emerald-500) !important;
}
.bg-emerald-400 {
    background-color: var(--emerald-400) !important;
}
.bg-emerald-300 {
    background-color: var(--emerald-300) !important;
}
.bg-emerald-200 {
    background-color: var(--emerald-200) !important;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-8 {
    font-size: 12px !important;
}

.fs-9 {
    font-size: 10px !important;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-container {
    width: 100vw !important;
    height: calc(100vh - 90px) !important;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container2 {
    width: 100vw !important;
    height: calc(100vh - 90px) !important;
    margin-top: 90px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.content-container{
    width: 100vw !important;
    height: 100vh !important;
    padding-top: 70px;
}

header{
    height:70px;
    z-index: 1000;
}

.super-wrapper{
    padding-top: 70px;
    height: 100%;
}


login-wrapper{
    width:75%;
}

@media screen and (max-width:340px){
    .login-wrapper {
        
        width: 100%;
    }
   
}

#notifications {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 360px !important;
}

.notif-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.notif-container {
    display: flex;
    flex-direction: column;
}

.notif-delete {
    color: var(--zinc-600) !important;
    padding: 3px 5px;
    margin-left: 5px;
    background-color: #D4D4D8;
    border-radius: 5px;
}


.form-control::placeholder {
    color: var(--zinc-500);
}

.navLinksContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 35px;
    align-items: center;
    font-size: 18px;
}

.pfp {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
    object-fit: contain;
    margin-right: 20px;
    border: 2px solid white;
}

.pfp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notificationBell {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    transform: translateY(5px);
}

.notificationDropdown:hover #notifications {
    display: block;
}

.profileDropdown:hover  #profileDropdown{
    display: block;
}

#profileDropdown, #notifications {
    transform: translateX(-90%);
}

.dropdown-item span {
    color: var(--zinc-400);
}

.pet-info-container {
    margin-top: 10px;
}

.pet-info-container i {
    padding-right: 10px;
}

.img-preview {
    max-width: 400px !important;
    max-height: 400px !important;
}

/*borders are for testing to see if alignment is proper*/
.login-button, .primary-button {
    width: 150px;
    height: 40px;
    /* border: 2px solid blue; */
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
    border: none;
}


.primary-button {
    width: auto;
    height: auto;
    padding: 5px 15px;
    font-size: 14px;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: var(--emerald-400);
    font-weight: bold;
}

.landinglink{
    color: var(--emerald-600);
}
.landinglink:hover{
    color: var(--emerald-400);
}

.login-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

.landing-page-header{
    background-color: var(--zinc-800);
    width: 100%;
    height: 70px;
}

.extra-images {
    width: 133px;
}


.adopt-color{
    background: var(--emerald-600);
}

.image-container{
    /* border: 2px solid black; */
    overflow: visible;
}
.landing-page-info{
    /* border: 2px solid black; */
    width: 50%;
}
/* .landing-container{
    border: 2px solid red;
} */

@media screen and (max-width:390px) {
    .landing-container{
        flex-direction: column;
    }
    .landing-page-info{
        width: 100%;
    }
    .image-container{
        width: 100%;
    }
}
.landing-image{
    max-width: 300px;
    max-height: 300px;
    /* border: 2px solid black; */
}

#email, #password, #name, #shelter_name, #adress{
    background-color: var(--zinc-100);
}

#notifications {
    margin-top: 15px;
}


#notifications .pagination-btn {
    padding: 5px 10px;
    font-size: 10px;
}

.notif-container {
    max-width: 300px;
    gap: 10px;
}

.notif-container span, .notif-container a {
    font-size: 12px !important;
    text-wrap: wrap;
}
/* form{
    border: 2px solid black;
}



.login-header{
    border: 2px solid black;
}

.super-wrapper{
    border: 2px solid blue;
    height:100%;
} */

/* .login-wrapper{
    border: 2px solid black;
} */


/* Pet Detail Page*/

.pet-container {
    flex-direction: row;
    gap: 30px;
    padding: 0.5rem;
}

.pet-container > .pet-images-container, .pet-container > .pet-details-container {
    flex: 1;
    padding-top: 30px;
    max-width: 400px;
}

.pet-container .pet-cover-image {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: #D4D4D8;
}

.pet-cover-image > img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.pet-adopt-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
    margin-left: 20px;
}


.reviewsBackSplash {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 999;
}

.reviewsContainer {
    width: 400px;
    height: fit-content;
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-height: 60%;
    overflow-y: auto;
}

.messageContainerContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.messageContainer {
    width: 400px;
    height: fit-content;
    z-index: 1000;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-height: 60%;
    overflow-y: auto;
}

.messageContainer .closebtn {
    padding: 5px 10px;
    background-color: var(--zinc-200);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: var(--zinc-500);
    border:1px solid var(--zinc-400);
    margin-bottom: 20px;
}

.textSend {
    width: 40px;
    height: 40px;
}

.messageContainer p {
    font-size: 12px;
    font-weight: normal;
    padding:8px 10px;
    margin-bottom: 0;
}

.message-field {
    padding: 10px;
    width: 100% !important;
}

#rating_select {
    padding: 5px;
}

.reviewsContainer .closebtn {
    margin-bottom: -50px;
    padding: 5px 10px;
    background-color: var(--zinc-200);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: var(--zinc-500);
    border:1px solid var(--zinc-400);
}

.shelterList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shelterCard, .shelterCardSmall {
    width: 500px;
    height: 200px;
    padding: 20px;
    background-color: var(--zinc-200);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.shelterCardSmall {
    width: 320px;
    height: 100px;
    padding: 10px;
}

.shelterImg {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.shelterCardSmall .shelterImg {
    width: 70px;
    height: 70px;
}

.shelterImg img {
    object-fit: cover;
    height: 160px;
    width: 160px;
}

.shelterCardSmall .shelterImg img {
    width: 70px;
    height: 70px;
}

.shelterInformation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shelterCardSmall .shelterInformation {
    gap: 0;
}

.shelterInformation h1 {
    font-size: 20px;
    color: var(--zinc-600);   
}

.shelterInformation span {
    color: var(--zinc-600);   
    font-size: 12px;
}

.shelterCardSmall h1 {
    font-size: 16px;
}

.shelterCardSmall span {
    font-size: 10px;
}

.view-app-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 13px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
    margin-left: 20px;
}

.edit-listing-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: var(--emerald-500);
    border-radius: 5px;
    margin-left: 20px;
    border: none;
}

.pet-adopt-fail-button{
    width: 150px;
    height: 40px;
    color: black;
    font-size: 20px;
    align-items: center;
    background-color: var(--zinc-400);
    border-radius: 5px;
    margin-left: 20px;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.shelter-link-text{
    color: var(--zinc-400);
}
.pet-container .pet-image-carousel {
    height: 130px;
    margin-top: 30px;
    width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pet-container .pet-image-carousel .pet-rotating-image {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    background-color: #D4D4D8;
    flex-shrink: 0;
}

.our-friends-container {
    max-width: fit-content;
    align-self: center;
}

.shelter-pets-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;
    padding: 20px 0;
    overflow-y: hidden;
    gap: 2rem;
}

.pet-icon-list{
    padding-top: 0;
}
.pet-rotating-image > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .pet-container {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 460px) {
    .pet-container {
        gap: 0;
        width: 100%;
    }
    .pet-details-container {
        width: 100% !important;
        
    }
    body .pet-info-container {
        flex-direction: column !important;
        gap: 5px;
        margin-bottom: -10px;
        
    }
    body .pet-info-container > div {
        gap: 5px;
    }
    
    .pet-container .pet-cover-image {
        width: 100%;
        height: 200px;
    }
    .pet-cover-image > img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .pet-container .pet-image-carousel {
        width: 100%;
    }
    .pet-icon-list{
        padding-top: 30px;
    }
}


.profile-wrapper{
    /* border:2px solid black; */
    padding-right: auto;
    padding-left: auto; 
    margin-bottom: 40px;

}


.headshot-wrapper{
    height: 100px;
    border-radius: 50px;
    width: 100px;
    overflow: hidden;
    margin-right: 10px;
}


.picture-and-contact{
    /* border:2px solid blue; */
    padding-left:20px;
    padding-right:20px;
}
.bio{
    height:200px;
    margin-bottom: 20px;
}
.headshot{
    height:100px;
    width:100px;
    object-fit: cover;
}

.edit-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
}
.edit-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

html body .application-table{
    height: fit-content;
}

.application-table tr {
    height: 30px;
    border-bottom: 1px solid var(--zinc-300);
}

.application-table td {
    padding: 0 15px;
}

.application-table a {
    background: none !important;
}



/* SEARCH PAGE */
.search-bar {
    background-color: #F4F4F5;
    border-radius: 100px;
    border: 1px solid var(--zinc-300, #D4D4D8);
    background: #F4F4F5;
    width: 300px;
    height: 40px;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
}

.dropdown-toggle {
    font-weight: 500 !important;
    color: var(--zinc-500) !important;
    background-color: var(--zinc-50) !important;
    font-size: 14px !important;
    border: 1px solid var(--zinc-300) !important;
}

.dropdown-menu {
    background-color: var(--zinc-50) !important;
    color: var(--zinc-500) !important;
    font-size: 14px !important;
    border: 1px solid var(--zinc-300) !important;
    transform: translateY(10px);
    display: block !important;
    position: absolute;
}

.dropdown-menu-right-screen-edge {
  right: 0;
  transform: translateY(10px) translateX(0px) !important;
}

#mobileFilteringModal {
    position: fixed;
    top: 10%;
    left:calc(50vw - 125px);
    width: 250px;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    background-color: var(--zinc-50);
    box-shadow: var(--shadow-1);
    border-radius: 5px;
    border: 3px solid var(--zinc-300);
    z-index: 1000;
    display: block !important;
}

#mobileFilteringModal .modalCloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: var(--zinc-200);
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.filtering-sidebar {
    max-width: 300px;
    min-width: 100px;
    flex: 1;
}

.filtering-category-options > .filtering-option {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    color: var(--zinc-500);
    margin-bottom: 2px;
    text-transform: capitalize;
}

.listing-card-grid-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  margin-left: 20px;
  padding-bottom: 30px;
}

.pagination-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.pagination-button-container > button, .pagination-btn {
    padding: 5px 20px;
    color: var(--zinc-700);
    border: 1px solid var(--zinc-400);
    font-size: 14px;
    align-items: center;
    background-color: var(--zinc-200);
    border-radius: 5px;
}

.listing-card-grid {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.pet-card {
    width: 250px;
    height: 375px;
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
}

.pet-card-link-wrapper {
  text-decoration: none !important;
}

.pet-card > .pet-img {
    width: 250px;
    height: 175px;
    background-color: #D4D4D8;
    position: relative;
    
}

.pet-img > img {
    width: 250px;
    height: 175px;
    object-fit: cover;
}

.pet-card > .pet-img > .pet-status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    color: var(--zinc-700);
    padding: 2px 5px;
}

.pet-card > .pet-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.pet-card > .pet-details > .pet-listed-date {
    color: var(--zinc-400);
    font-weight: 500;
    font-size: 10px;
    right: 10px;
    position: absolute;
}

.pet-card > .pet-details > .pet-name {
    font-size: 18px;
    color: var(--zinc-700);
    font-weight: 700;
}

.pet-card > .pet-details > .pet-info {
    color: var(--zinc-400);
    font-size: 10px;
    font-weight: 600;
}

.pet-card > .pet-details > .pet-description {
    color: var(--zinc-700);
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body .mobile-search-filtering-container {
    display: none !important;
}


.shelter-container {
    flex-direction: row;
    gap: 30px;
    padding: 0.5rem;
}

.shelter-container > .shelter-images-container, .shelter-container > .shelter-details-container {
    flex: 1;
    padding-top: 30px;
    max-width: 400px;
}

.shelter-container .shelter-cover-image {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.shelter-cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shelter-container .shelter-image-carousel {
    height: 130px;
    margin-top: 30px;
    width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.shelter-container .shelter-image-carousel .shelter-image {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.shelter-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.our-friends-container {
    max-width: 80vw !important;
    align-self: center;
}

.shelter-pets-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow-x: auto;
    padding: 20px 0;
    overflow-y: hidden;
    gap: 2rem;
    align-self: center;
}

table {
    font-size: 12px;
    min-width: 600px;
}

table a {
    color: var(--emerald-500) !important;
    font-weight: 500;
    text-decoration: underline !important;
    cursor: pointer;
}

.pending-applications {
    max-width: 80vw !important;
    overflow-x: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 800px) {
    /* SEARCH */
    body .search-filtering-container {
        display: none !important;
    }

    body .mobile-search-filtering-container {
        display: block !important;
    }

    body .search-top-container, body .search-results-container {
        padding: 1rem !important;
    }
    
    body .filtering-sidebar {
        display: none !important;
    }

    .listing-card-grid {
        margin: 0;
        justify-content: space-evenly;
    }
    /* SHELTER DETAIL */
    
    .shelter-container {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0.5rem;
    }
    .pending-applications {
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .pet-card {
        width: 300px;
        height: 100px;
        flex-direction: row;
        margin: 0; 
    }

    
    .shelterCard {
        width: 300px;
        height: 100px;
        padding: 10px;
        gap: 10px;
    }

    .shelterImg {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;
    }

    .shelterImg img {
        height: 70px;
        width: 70px;
    }

    .shelterInformation {
        gap:0;
    }
    
    .shelterInformation h1 {
        font-size: 14px;
    }

    .pet-card > .pet-img > .pet-status {
        right: 8px;
        bottom: 8px;
        font-size: 8px;
    }

    .pet-card > .pet-details {
        width: 200px;
    }
    
    .pet-card > .pet-details > .pet-name {
        font-size: 14px;
    }
    .pet-card > .pet-details > .pet-info {
        font-size: 10px;
        font-weight: 500;
    }
    
    .pet-card > .pet-details > .pet-description {
        display: none;
    }

    .listing-card-grid {
        gap: 0.5rem;
    }
    
}
@media screen and (max-width: 460px) {
    .shelter-container {
        gap: 0;
        width: 100%;
    }
    .shelter-details-container {
        width: 100% !important;
    }
    body .shelter-info-container {
        flex-direction: column !important;
        gap: 5px;
        margin-bottom: -10px;
    }
    body .shelter-info-container > div {
        gap: 5px;
    }
    
    .shelter-container .shelter-cover-image {
        width: 100%;
        height: 200px;
    }

    .shelter-container .shelter-image-carousel {
        width: 100%;
    }

    body .our-friends-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
}
/* profile responsiveness */
@media screen and (max-width: 650px) {
    .picture-and-contact{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .profile-wrapper{
        align-items: center;
    }

    
.form-control::placeholder {
    color: var(--zinc-500);
}

body .petpalLogo {
    font-size: 18px !important;
}

.navLinksContainer {
    gap: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.pfp {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 30px;
    margin-right: 10px;
}

.notificationBell {
    width: 20px !important;
    height: 20px !important;
    object-fit: contain;
    margin-right: 20px;
    transform: translateY(-1px);
}
.notificationDropdown .dropdown-item {
    font-size: 8px;
}

}


.reciever{
    background-color: var(--emerald-500);
}

.sender{
    background-color: var(--zinc-400);
}

.chat-button{
    background-color: var(--emerald-500);
}

.chat-button:hover{
    background-color: var(--emerald-700);
}

.message-field{
    width: 80%;
}